.App {
  background: #121212;
}
.mainDiv {
  height: 100vh;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  background: linear-gradient(0deg, #221b23 30vh, #260a26 30vh);
}
.outSide {
  position: relative;
  width: 40%;
  height: auto;
  padding-top: 9vh;
  padding-left: 50%;
}
.table {
  position: absolute;

  bottom: 5vh;
}
.plant {
  width: 30%;
  height: auto;
  float: left;
  padding-top: 19vh;
}
.pixelPc {
  width: 30%;

  height: auto;
  padding-top: 35vh;
  padding-left: 5%;
}
.pixelCup {
  width: 10%;
  height: auto;
  padding-bottom: 55px;
  padding-left: 12%;
  padding-right: 5%;
}

.PcScreen {
  position: absolute;
  width: 15%;
  height: auto;
  bottom: 22vh;
  left: 40%;
}
.cvlogo {
  width: 50%;
  height: auto;
}

.linkedIn {
  width: 50%;
  height: auto;
  float: left;
}

.gitHubLogo {
  float: left;
  width: 50%;
  height: auto;
}

.instagramLogo {
  float: left;
  width: 25%;
  height: auto;
}
.cvDiv {
  height: 100%;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  background: #221b23;
}
.slideShowCv {
  padding-bottom: 5%;
  padding-left: 20%;
  padding-right: 20%;
}
.bonsaiPlant{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  height: auto;

}
.projects{
  height: 100%;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  background: #221b23;
}
.slideShowProjects {
  padding-bottom: 5%;
  padding-left: 20%;
  padding-right: 20%;
}

::-webkit-scrollbar {
  height: 6px;
  width: 15px;
  background: rgba(27, 26, 26, 0.2);
}
::-webkit-scrollbar-corner {
  display: none;
}
::-webkit-scrollbar-thumb {
  background: #677073;
}
