.App {
  text-align: center;

  height: 100vh;
  width: 100vw;
}
.mainDiv {
  background: linear-gradient(0deg, #221b23 30%, #260a26 30%);
  height: 100%;
  width: 100%;
}
.pixelPc {
  position: fixed;
  width: auto;
  height: 600px;
  top: 65vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}
.pixelCup {
  position: fixed;
  width: auto;
  height: 100px;

  top: 75vh;
  left: 79vw;
}
.plant {
  position: fixed;
  width: auto;
  height: 500px;
  top: 35vh;
  left: 12vw;
}
.outSide {
  position: fixed;
  width: auto;
  height: 500px;
  top: 9vh;
  left: 60vw;
}
.PcScreen {
  position: fixed;
  top: 39vh;
  left: 43vw;
  width: 350px;
  height: 700px;
}
.cvlogo {
  width: auto;
  height: 90px;
}

.linkedIn {
  width: auto;
  height: 100px;
  float: left;
  margin-right: 100%;
}

.gitHubLogo {
  float: left;
  width: auto;
  height: 50px;
}

.instagramLogo {
  float: left;
  width: auto;
  height: 50px;
}
