.App {
  text-align: center;
}
.mainDiv {
  height: 100vh;
  width: 100%;
  background: linear-gradient(0deg, #221b23 30vh, #260a26 30vh);
}
.outSide {
  position: relative;
  width: 45vw;
  height: auto;
  padding-top: 9vh;
  padding-left: 50vw;
}
.table {
  position: absolute;
  width: 100%;
  height: auto;

  bottom: 5vh;
}
.plant {
  width: 30vw;
  height: auto;
  float: left;

}
.pixelPc {
  width: 50vw;
  height: auto;
}
.pixelCup {
  width: 10vw;
  height: auto;
  padding-bottom: 55px;
  padding-left: 65px;
}

.PcScreen {
  width: auto;
}
.cvlogo {
  width: auto;
  height: 90px;
}

.linkedIn {
  width: auto;
  height: 100px;
  float: left;
  margin-right: 100%;
}

.gitHubLogo {
  float: left;
  width: auto;
  height: 50px;
}

.instagramLogo {
  float: left;
  width: auto;
  height: 50px;
}
.cvDiv {
  height: 100vh;
  width: 100%;
  background: #2b242c;
}
::-webkit-scrollbar {
  height: 6px;
  width: 15px;
  background: rgba(27, 26, 26, 0.2);
}
::-webkit-scrollbar-corner {
  display: none;
}
::-webkit-scrollbar-thumb {
  background: #677073;
}
